<!DOCTYPE html>
<html ng-app="createProfile" >
  <head>
    <meta charset="utf-8">
    <title>Stock App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<script src="http://malsup.github.io/jquery.blockUI.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link href="css/createProfileCss.css" rel="stylesheet">
	
   <script>  
  	var $jq = jQuery.noConflict();
    var nameApp = angular.module('createProfile', []);
    nameApp.controller('profileCtrl', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {	
    	$scope.createMessage = "";
    	$scope.userMessage = "";  
    	$scope.exists = true;
    	$scope.invalidPassword = true;
    	
    	$scope.$watch('user.username', function(newValue, oldValue){
    		if(typeof newValue != 'undefined')
         	{   	     
    			var time = new Date().getTime();	
    			var urls = '/StockWebApp/UsernameCheckServlet?username=' + angular.lowercase($scope.user.username) + "&t=" + time;
    	        $http.get(urls).success(function(data){
    	        	$scope.userMessage = data.message;  
    	        	
    	        	if($scope.userMessage === 'new'){    	        	
    	        		$scope.exists = false;
    	        	}
    	        	else{
    	        		$scope.exists = true;
   	        		}    	        	
    	        	$scope.$apply(); 
    	        });         		      		
         	}
    		else
   			{
    			$scope.exists = true;
   			}
    	 });
    	
    	$scope.$watch('user.password', function(newValue, oldValue){
    		if(typeof newValue != 'undefined')
         	{  
    			$scope.invalidPassword = false;
         	}else
       		{
         		$scope.invalidPassword = true;
       		}
    	});
    	
	   	$scope.submitProfile = function () {
	   		var time = new Date().getTime();	
	   		var urls = '/StockWebApp/CreateProfileServlet?username=' + angular.lowercase($scope.user.username) + '&t=' + time + '&password=' + $scope.user.password + '&organization=' + $scope.user.organization;
	        $http.get(urls).success(function(data){
	        	$scope.createMessage = data.message;
	        	if($scope.createMessage === "success")
        		{
	        		window.location.href = "main.html";
        		}
	        	$scope.$apply(); 
	        });
   		}
    
    }]);   
    </script>
      <style>
  html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 100px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -122px; /* negative value of footer height */
	height: 122px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
</style>
  </head>

  <body ng-controller="profileCtrl">


<nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand heading" href="main.html" >Quotr</a>
        </div>
        <div id="navbar" class="" >
        <div class="navbar-right">
       
         </div>
        </div><!--/.navbar-collapse -->

</nav>
<div id="wrap">
	<div class="sub-heading">
		<div class="sub-heading-title">
			Stock Analysis
		</div>
		</div>

<div class="login-div">
	<h1 class="loginTitle">Create Profile</h1>
	<form class="centerForm" name="myForm" action="CreateProfileServlet" method="post">
		<br><br>
		<div class="loginInputs">
		Username:
		<span style="color:darkred; font-weight: bold;" ng-show="myForm.createUsername.$dirty && exists">
  		<span ng-show="myForm.createUsername.$error.required">Required</span>
  		<span ng-show="myForm.createUsername.$dirty && exists">Username Already Exists or Invalid</span>
  		</span>
  		<span style="color:green; font-weight: bold;" ng-show="myForm.createUsername.$dirty && !exists">
  		<span style="color:green;" ng-show="myForm.createUsername.$dirty && (!(exists))">Available</span>
  		</span>
		<br>
		<input type="text"  maxlength="29" name="createUsername"  placeholder="username..." class="form-control" ng-model="user.username" required>
		</div><br>
		<div class="loginInputs">
		Password:
		<span style="color:darkred; font-weight: bold;" ng-show="myForm.createPassword.$dirty && invalidPassword">
  		<span ng-show="myForm.createPassword.$error.required">Password Required</span>
  		</span>
  		<span style="color:green; font-weight: bold;" ng-show="myForm.createPassword.$dirty && !invalidPassword">
  		<span style="color:green;" ng-show="myForm.createPassword.$dirty && (!(invalidPassword))">Valid</span>
  		</span>
		<br>
		<input type="password" name="createPassword" maxlength="29" placeholder="password..." class="form-control" ng-model="user.password" required>
		</div> <br>
		<div class="loginInputs">
		Organization:
		 <font color=grey><i>(optional)</i> </font>
		 <br>
		 <input type="text" name="createOrganization" maxlength="29" ng-model="user.organization" placeholder="organization..." class="form-control" >
		</div> <br>
		<div class="loginButton">
		<button  ng-disabled="exists || (myForm.createPassword.$error.required)"  class="btn btn-warning">Sign Up</button><br>
		</div><br><br><br><br>
		<div class="loginButton">
			<a href="Login.html">sign in</a>
		</div>
	</form>
</div>
</div>
<div id="footer" class="foot2">
  <p>Created By: Luke Schmader</p>
  <p>Email: <a href="mailto:lukeschmader@gmail.com">lukeschmader@gmail.com</a></p>
</div>

  </body>
 
</html>