<!DOCTYPE html>
<html ng-app="stockApp" >
<head>
<meta charset="UTF-8">
<title>Quoter - Favorites</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
  
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
 	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="js/Chart.js"></script>
	<link href="css/myCss.css" rel="stylesheet">
	<script type="text/javascript" src="js/slick.min.js"></script>
<script>
	
	var $jq = jQuery.noConflict();
	var nameApp = angular.module('stockApp', ['ngCookies']);
	nameApp.controller('StockCtrl', ['$scope', '$http', '$timeout', '$cookies','$cookieStore', function($scope, $http, $timeout,$cookies,$cookieStore) {	
		$scope.isLoggedIn = false;
		$scope.isMonthGraphLoaded = false;
		$scope.isMonthPctGraphLoaded = false;
		$scope.isFavoritesLoaded = false;
		var color0="rgb(26,99,60)";
		var color1="rgb(100,10,100)";
		var color2="rgb(200,110,255)";
		var color3="rgb(200,10,10)";
		var color4="rgb(0,110,100)";
		var color5="rgb(200,10,0)";
		var color6="rgb(200,255,10)";
		var color7="rgb(200,190,100)";
		var color8="rgb(90,190,99)";
		var color9="rgb(9,99,100)";
		
		
		
		var init = function () { 
			
			$jq('.bg').slick({});	
			
			var monthCanvas = document.getElementById("monthCanvas");
			monthCanvas.width = $jq("#monthDiv").width();
			var monthPctCanvas = document.getElementById("monthPctCanvas");
			monthPctCanvas.width = $jq("#monthPctDiv").width();
			
			var username = "";
			$scope.user = "";
			var name = "user2" + "=";
		    var ca = document.cookie.split(';');
		    for(var i=0; i<ca.length; i++) {
		        var c = ca[i];
		        while (c.charAt(0)==' ') c = c.substring(1);
		        if (c.indexOf(name) == 0) {
		        	username = c.substring(name.length,c.length);
		        }
		    }
	          if(!(username === "")){
	        	    console.log(username + " success!");
	        	    $scope.user = username;
					$scope.isLoggedIn = true;		
					$scope.$apply();		
	          }
	          else{
	        	  console.log("NO COOKIE :(");
	        	  window.location = "main.html";
	          }
	        getFavorites();  
	        createMonthPercentGraph();
	  		
	      };
          init();
          function getFavorites(){
        	  var urls = '/StockWebApp/FavoritesRetrieverServlet?username=' + $scope.user;

          	$http.get(urls).success(function(data){        		
          		$scope.favorites = data.favorites;
          		$scope.favoritesData = data;
          		$scope.isFavoritesLoaded = true;
          		var legendHtml = "";
             	 	for (var i = 0; i < $scope.favorites.length; i++) {
             	 		legendHtml = legendHtml.concat('<span style="border-style:solid; border-width: 1px; background:' + colorPicker(i) + ';"> &ensp;</span>&ensp;' + $scope.favorites[i].symbol + '<br>' + $scope.favorites[i].name + '<br><br>');
             	 		
             	    	}
             	 	document.getElementById("legend").innerHTML = legendHtml;
          	});      	
          }
          function createMonthPercentGraph()
          {
        	var urls = '/StockWebApp/FavoritesMonthGraphServlet?username=' + $scope.user;
          	$http.get(urls).success(function(data){
          		if(data.companies.length !== 0){
          			
          			
          			var graphLabels = [];
          			var graphDatasets = [];
      			 	for(var i = 0; i < data.companies.length; i++){
      			 		var compData = {
      			 				label: data.companies[i].info.name,
		      			 		fillColor: "rgba(255,255,255,0)",
		  			            strokeColor: colorPicker(i),
		  			            pointColor: colorPicker(i),
		  			            pointStrokeColor: "#fff",
		  			            pointHighlightFill: "#fff",
		  			            pointHighlightStroke: colorPicker(i),
		  			            data: data.companies[i].values
      			 				
      			 		};
      			 		graphDatasets.push(compData);
      			 		if(i == 0){
      			 			graphLabels = data.companies[i].dates;
      			 		}
      			 	}
          			//create Graph
          			var graphData = {
          					labels: graphLabels,
          					datasets: graphDatasets
          			};
          			var canvas = document.getElementById("monthCanvas");
          	      	var ctx = document.getElementById("monthCanvas").getContext("2d");	 
          	      	var monthChart = new Chart(ctx).Line(graphData, {
          	      	    bezierCurve: false,
          	      	    pointDot : false,
          	      	    animationEasing: "easeOutQuart",
          	      	    pointHitDetectionRadius : 10,
          	      	    showTooltips: true,
          	      	    //responsive: true,
          	      	    animation: true,
          	      	  	legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
          	      	
          	      	});		      	
          	      	//document.getElementById("monthLegend").innerHTML = monthChart.generateLegend();
          	  		
          	      	//PctChange
          	      var graphPctLabels = [];
        			var graphPctDatasets = [];
    			 	for(var i = 0; i < data.companies.length; i++){
    			 		var startValue = data.companies[i].values[0];
    			 		for(var j = 0; j < data.companies[i].values.length; j++){
    			 			data.companies[i].values[j] = (((data.companies[i].values[j] - startValue)/startValue)*100).toFixed(2);
    			 		}
    			 		data.companies[i].values[0] = 0.00;
    			 		var compPctData = {
    			 				label: data.companies[i].info.name,
		      			 		fillColor: "rgba(255,255,255,0)",
		  			            strokeColor: colorPicker(i),
		  			            pointColor: colorPicker(i),
		  			            pointStrokeColor: "#fff",
		  			            pointHighlightFill: "#fff",
		  			            pointHighlightStroke: colorPicker(i),
		  			            data: data.companies[i].values
    			 				
    			 		};
    			 		graphPctDatasets.push(compPctData);
    			 		if(i == 0){
    			 			graphPctLabels = data.companies[i].dates;
    			 		}
    			 	}
        			//create Graph
        			var graphPctData = {
        					labels: graphPctLabels,
        					datasets: graphPctDatasets
        			};
        			var pctcanvas = document.getElementById("monthPctCanvas");
        	      	var pctctx = document.getElementById("monthPctCanvas").getContext("2d");	 
        	      	var monthPctChart = new Chart(pctctx).Line(graphPctData, {
        	      	    bezierCurve: false,
        	      	    pointDot : false,
        	      	    animationEasing: "easeOutQuart",
        	      	    pointHitDetectionRadius : 10,
        	      	    showTooltips: true,
        	      	    //responsive: true,
        	      	    animation: true,
        	      	  	legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
        	      	
        	      	});		      	
        	      	$scope.isMonthGraphLoaded = true;
            		$scope.isMonthPctGraphLoaded = true;
            		$jq(".center").hide();
            		$scope.$apply();
      			}
          	});
          	
  	  		
          }
	      function colorPicker(number){
	    	  switch(number) {
	    	  	case 0:
	    	    	return color0;  
	    	  	case 1:
	    	        return color1;
	    	    case 2:
	    	        return color2;
	    	    case 3:
	    	    	return color3;
	    	    case 4:
	    	    	return color4;
	    	    case 5:
	    	    	return color5;
	    	    case 6:
	    	    	return color6;
	    	    case 7:
	    	    	return color7;
	    	    case 8:
	    	    	return color8;
	    	    case 9:
	    	    	return color9;
	    	    default:
	    	    	return "#ffffff" 
	    	    	
	    	    	
	    	}
	    	  
	      }
	}]);

</script>
<style>
.slick-prev:before, .slick-next:before { 
    color:black !important;
}
.bg
{
	
}
</style>
</head>
<body ng-controller="StockCtrl">
	<nav class="navbar navbar-inverse navbar-fixed-top">	
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand heading" href="main.html" >Quotr</a>
	        </div>
	        <div id="navbar" class="" >
	        <div class="navbar-right">
	          <form class="navbar-form" ng-show="(isLoggedIn)">
	            <div class="create-account inline-nav" style="margin-right:20px;">Hello {{user}}!</div>
	            <div class="create-account inline-nav">
				<a href="LogoutServlet">Logout</a>
	            </div>
	          </form>
	         </div>
	        </div><!--/.navbar-collapse -->
	</nav>
	<div class="sub-heading">
		<div class="sub-heading-title">
			Favorites Analysis
		</div>
	</div>
		<div class="container">
			<div class="row" style="margin-top:5px;"">
				<div class="col-xs-2" style="margin-top:10px; padding-left:0px; padding-right:12px;">
					<div>
					<form  action="main.html">
						<input ng-disabled="!(isLoggedIn)" type="submit" class="btn btn-warning" style="width: 100%; margin-top: 0px; margin-bottom: 10px; " value="Stock Quotes">
					</form>	
					</div>
					<div id="legend" class="legendScrollable">
					</div>	
						
				</div>
				<div id="caroselDiv" class="col-xs-10" style="margin-top:10px;">
					<div id="carosel" style="height: 365px;" >
						<div style="height: 365px;"class="bg" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots":true, "arrows":true}'>
						  
						  <div id="monthPctDiv" style="text-align: center;">
							  <h1 >Stock Percentage Change Month</h1><br>
							  <img class="center" style:"position=relative; top=0px;"id="monthPctLoading" src="img/loading.gif"  height="310" width="415">
							  <canvas id="monthPctCanvas" class="favCanv"  height="310" ></canvas>
							  <hr/>
						  </div>						  
						  <div id="monthDiv" style="text-align: center;"><h1 >Stock Price Month</h1><br>
							  <canvas id="monthCanvas" class="favCanv" width=1100 height="310"></canvas>
							  <hr/>
						  </div>
						  
						  <div><h3>Market Cap Pi</h3></div>
						  
						  <div><h3>4</h3></div>
						  
						  <div><h3>5</h3></div>
						  
						  <div><h3>6</h3></div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>