<!DOCTYPE html>
<html ng-app="stockApp" >
  <head>
 	 <link rel="icon"  href="img/favicon.ico" />
    <meta charset="utf-8">
    <title>Stock App</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
  
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link href="css/myCss.css" rel="stylesheet">
	<script src="js/Chart.js"></script>
	<script src="js/angular-gauge.js"></script>
	<link href="css/angucomplete.css" rel="stylesheet">
	<script src="js/angucomplete.js"></script>
	<!--<script src="../components/gauge.js/dist/gauge.min.js"></script>-->
	<script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
 	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <script>    
    
    var $jq = jQuery.noConflict();
    var autoCompleteCompanies= [];
    
    
    
    var nameApp = angular.module('stockApp', ['gaugejs', 'ngCookies']);
      nameApp.controller('StockCtrl', ['$scope', '$http', '$timeout', '$cookies','$cookieStore', function($scope, $http, $timeout,$cookies,$cookieStore) {	
    	  $scope.search="";
    	  $scope.currentProfile="";
    	  $scope.lineChart = null;
    	  $scope.oldSym = null;
    	  $scope.stockFromIndustry = false;
    	  $scope.graphPct = 100;
    	  $scope.graphOption = 1;
    	  $scope.currentVolumePct = 0;
    	  $scope.currentDivYield = 0;
    	  $scope.currentChangePct = 0;
    	  $scope.currentPeg = 0;
    	  $scope.currentPrice = 0;
    	  $scope.currentTarget = 0;
    	  $scope.industryStats = null;
    	  $scope.sortField = 'name';
    	  $scope.currentSymbol = "";
    	  $scope.userCookie = $cookieStore.get('user');
    	  $scope.user = '';
          $scope.isLoggedIn = false;
          $scope.favorites;
		  $scope.favoritesData;
		  $scope.autoCompleteCompanies;
		  $scope.isFavoritesLoaded = false;
		  $scope.isIndustryLoaded = false;
          var init = function () { 
        	  var username = "";
  			$scope.user = "";
  			var name = "user2" + "=";
  		    var ca = document.cookie.split(';');
  		    for(var i=0; i<ca.length; i++) {
  		        var c = ca[i];
  		        while (c.charAt(0)==' ') c = c.substring(1);
  		        if (c.indexOf(name) == 0) {
  		        	username = c.substring(name.length,c.length);
  		        }
  		    }
          if(!(username === "")){
        	    console.log("COOKIE: " + username);
        	    $scope.user = username;
        	    
				$scope.isLoggedIn = true;		
				refreshFavorites();
				$scope.$apply();		
          	}
          $scope.search="GOOGL";
          var urls = 'CompanyAutoComplete.json';
          $http.get(urls).success(function(data){
        	  console.log("json Called");
        	  $scope.autoCompleteCompanies = data.companies;
        	  console.log("AutoComplete set");
          });          
          //$scope.searchBox = "GOOGL"
          };
          init();
          var main = function(){
        	   	var xhttp = new XMLHttpRequest();
        	    xhttp.onreadystatechange = function() {
        	    	  if (xhttp.readyState == 4 && xhttp.status == 200) {
        	    		  //console.log(xhttp.responseText);
        	    		  autoCompleteCompanies = JSON.parse(xhttp.responseText).companies;
        	    		  console.log(autoCompleteCompanies);
        	    		  $jq(function() {
        	    		        $jq( "#automplete-2" ).autocomplete({
        	    		           source: autoCompleteCompanies,
        	    		           autoFocus:true,
        	    		           minLength: 2,
        	    		           delay: 1000,
        	    		           select: function( event, ui ) {
        	    		        	   console.log("hasnt calledUpdate");
        	    		        	   var splt = ui.item.value.split("(");
        	    		        	   var splt = splt[1].split(")");
        	    		        	   console.log(splt);
        	    		        	   $scope.search = splt[0]; 
        	    		        	   
        	    		        	   $scope.$apply();
        	    		        	   console.log("calledUpdate");
        	    		         }
        	    		        });
        	    		        
        	    		        
        	    		        
        	    		     });
        	    	  }
        	    	};
        	    	xhttp.open("GET", "CompanyAutoComplete.json", true);
        	    	xhttp.send();
        	    
        	    };
        	    $jq(document).ready(main);
    	  
    	 	$scope.animationTime = 10;
    	    $scope.gaugeValue = 0;
    	    $scope.maxValue = 4;
    		$scope.gaugeType = 'donut';

    	    $scope.gaugeOptions = {
    	        lines: 12,
    	        // The number of lines to draw
    	        angle: 0,
    	        // The length of each line
    	        lineWidth: 0.44,
    	        // The line thickness
    	        pointer: {
    	            length: 0.9,
    	            // The radius of the inner circle
    	            strokeWidth: 0.035,
    	            // The rotation offset
    	            color: '#000000' // Fill color
    	        },
    	        percentColors: [[0.0, "#ff0000" ], [0.50, "#f9c802"], [1.0, "#a9d70b"]],
    	        
    	        limitMax: 'true',
    	        // If true, the pointer will not go past the end of the gauge
    	  
    	        // just experiment with them
    	        strokeColor: '#E0E0E0',
    	        // to see which ones work best for you
    	        generateGradient: true
    	    };
    	    
    	   

   	     
        $scope.$watch('search', function(newValue, oldValue){
        	if(newValue != "")
        	{   
        		var splt = [];
        		//if(newValue.indexOf('(') >= 0 && newValue.indexOf(')') >= 0){
        		//	splt = string.split('(');
        		//	newValue = splt[1];
        		//	console.log("splt: " + newValue);
        		//}
				
        		console.log("newValue: " + newValue);
        		newValue = newValue;
        		refreshStock(newValue);     
        		$scope.$apply();       		
        	} 
        	
          });  
        $jq('.graph-btn').click(function(){
	  	    $jq('.graph-btn').removeClass('blackButton')
	  	        $jq(this).addClass('blackButton');
	  	});
        $scope.$watch('graphOption', function(newValue, oldValue){
        	if(newValue != oldValue)
        	{   	     
        		
        		 
        		var canvas = document.getElementById("myChart");
	        	var ctx = document.getElementById("myChart").getContext("2d");	        	
	        	//ctx.clearRect(0, 0, canvas.width, canvas.height);
	        	refreshChart($scope.search, newValue);
        		$scope.$apply();
        		
        		
        		
        	}
        });
        function refreshIndustry(sym)
        {
        	var urls = '/StockWebApp/IndustryServlet?symbol=' + angular.uppercase(sym);
        	$http.get(urls).success(function(data){
        		
        		$scope.industryStats = {
        				"indavgChangePct":Number(data.stats.avgChangePct),
        		 		"indVolumePct":((data.stats.avgVolume/data.stats.avgAvgVolume)*100.00),
        		 		"indavgYieldPct":Number(data.stats.avgYieldPct),
        		 		"indPeg":Number(data.stats.avgPeg)     				 
        		 };
        		$scope.$apply();
        		console.log($scope.industryStats);
        		var indChangepct = $scope.currentChangePct - data.stats.avgChangePct;
        		var indVolpct = $scope.currentVolumePct - (data.stats.avgVolume/data.stats.avgAvgVolume)*100.00;
        		var indYieldPct =$scope.currentDivYield - data.stats.avgYieldPct;
        		var indPeg =  $scope.currentPeg - data.stats.avgPeg;
        		var targetChg = ($scope.currentTarget-$scope.currentPrice)/$scope.currentPrice;
        		$scope.gaugeValue = targetChg+2;
        		if($scope.gaugeValue > 4){
        			$scope.gaugeValue = 4;
        		}else if($scope.gaugeValue < 0){
        			$scope.gaugeValue = 0;
        		}
        		
        		document.getElementById("targetChange").innerHTML = targetChg.toFixed(2) < 0.00 ? "<font color=red>" + targetChg.toFixed(2) + "%" + "</font>" 
	            		: "<font color=green>" + "+" + targetChg.toFixed(2) + "%" + "</font>";               		
        		document.getElementById("indChgPct").innerHTML = indChangepct.toFixed(2) < 0.00 ? "<font color=red>" + indChangepct.toFixed(2) + "%" + "</font>" 
	            		: "<font color=green>" + "+" + indChangepct.toFixed(2) + "%" + "</font>";        		
	            document.getElementById("indVolumePct").innerHTML = indVolpct.toFixed(2) < 0.00 ? "<font color=red>" + indVolpct.toFixed(2) + "%" + "</font>" 
	    	            		: "<font color=green>" + "+" + indVolpct.toFixed(2) + "%" + "</font>";
           		document.getElementById("indYield").innerHTML = indYieldPct.toFixed(2) < 0.00 ? "<font color=red>" + indYieldPct.toFixed(2) + "%" + "</font>" 
   	            		: "<font color=green>" + "+" + indYieldPct.toFixed(2) + "%" + "</font>";
          		document.getElementById("indPeg").innerHTML = indPeg.toFixed(2) > 0.00 ? "<font color=red>" +"+"+  indPeg.toFixed(2) + "</font>" 
  	            		: "<font color=green>"  + indPeg.toFixed(2) + "</font>";
          		
	  	        $scope.companies = data.companies;
        		$scope.industryCount = data.stats.industryCount;
        		
        		$scope.isIndustryLoaded = true;
        	});
        	
        }
        function refreshIndustryStatsOnly()
        {
        	var indChangepct = $scope.currentChangePct - $scope.industryStats.indavgChangePct;
    		var indVolpct = $scope.currentVolumePct - $scope.industryStats.indVolumePct;
    		var indYieldPct =$scope.currentDivYield - $scope.industryStats.indavgYieldPct;
    		var indPeg =  $scope.currentPeg - $scope.industryStats.indPeg;
    		var targetChg = ($scope.currentTarget-$scope.currentPrice)/$scope.currentPrice;
    		$scope.gaugeValue = targetChg+2;
    		if($scope.gaugeValue > 4){
    			$scope.gaugeValue = 4;
    		}else if($scope.gaugeValue < 0){
    			$scope.gaugeValue = 0;
    		}
    		document.getElementById("targetChange").innerHTML = targetChg.toFixed(2) < 0.00 ? "<font color=red>" + targetChg.toFixed(2) + "%" + "</font>" 
            		: "<font color=green>" + "+" + targetChg.toFixed(2) + "%" + "</font>";      		
        	document.getElementById("indChgPct").innerHTML = indChangepct.toFixed(2) < 0.00 ? "<font color=red>" + indChangepct.toFixed(2) + "%" + "</font>" 
            		: "<font color=green>" + "+" + indChangepct.toFixed(2) + "%" + "</font>";        		
            document.getElementById("indVolumePct").innerHTML = indVolpct.toFixed(2) < 0.00 ? "<font color=red>" + indVolpct.toFixed(2) + "%" + "</font>" 
    	            		: "<font color=green>" + "+" + indVolpct.toFixed(2) + "%" + "</font>";
       		document.getElementById("indYield").innerHTML = indYieldPct.toFixed(2) < 0.00 ? "<font color=red>" + indYieldPct.toFixed(2) + "%" + "</font>" 
	            		: "<font color=green>" + "+" + indYieldPct.toFixed(2) + "%" + "</font>";
      		document.getElementById("indPeg").innerHTML = indPeg.toFixed(2) > 0.00 ? "<font color=red>" +"+"+  indPeg.toFixed(2) + "</font>" 
	            		: "<font color=green>"  + indPeg.toFixed(2) + "</font>";
        }
        
        function refreshChart(sym, option)
        {
        	
        	var urls = '/StockWebApp/GraphServlet?symbol=' + angular.uppercase(sym) + "&option=" + option;  	
        	document.getElementById("graphDiff").innerHTML = "";  
        	
        	$http.get(urls).success(function(data){
           	if(data != undefined)
       		{
           		
           		//if($scope.lineChart != null)
      			//{
           		//	$scope.lineChart.destroy();
           		//	$scope.lineChart.clear();
      				
      			//}
           		
           		var values = data.values;
           		var dates = data.dates;
           		//document.getElementById("interval").innerHTML = " (" + data.info.interval + ") ";
	            document.getElementById("graphDiff").innerHTML = data.info.diff < 0.00 ? data.info.interval + ": <font color=red>" + "" +data.info.diff + "%" + "</font>" 
	            		: data.info.interval + ": <font color=green>" + "+" + data.info.diff + "%" + "</font>";   
           		console.log(JSON.stringify(data));
	        	//console.log(values);
	        	
	        	        	
	        	var data = {
	        		    labels: dates,
	        		    datasets: [
	        		        {
	        		            
	        		            fillColor: "rgba(220,220,220,0.2)",
	        		            strokeColor: "#676767",
	        		            pointColor: "#676767",
	        		            pointStrokeColor: "#fff",
	        		            pointHighlightFill: "#fff",
	        		            pointHighlightStroke: "rgba(220,220,220,1)",
	        		            data: values
	        		        }
	        		    ]
	        		};
	        	var canvas = document.getElementById("myChart");
	        	var ctx = document.getElementById("myChart").getContext("2d");	        	
	        	ctx.clearRect(0, 0, canvas.width, canvas.height);	
	        	lineChart = new Chart(ctx).Line(data, {
	        	    bezierCurve: false,
	        	    pointDot : false,
	        	    animationEasing: "easeOutQuart",
	        	    pointHitDetectionRadius : -2,
	        	    showTooltips: false,
	        	    //responsive: true,
	        	    animation: false      	    
	        	
	        	});	
	        	
       		}
        	
        });
        }
        
        function refreshStock(sym)
        {
        	
        	var urls = '/StockWebApp/StockServlet?symbol=' + angular.uppercase(sym);
        	$scope.search=angular.uppercase($scope.search);
            $http.get(urls).success(function(data){
            	if(data != "")
        		{
            		console.log("MADE CALL");
            		$scope.isFavorite = false;
	            	var J =  data;	
	            	$scope.currentSymbol = J.data.stock.symbol;
		            //Headings	            
		            document.getElementById("companyName").innerHTML = J.data.stock.name;
		            document.getElementById("symbol").innerHTML = " (" + J.data.stock.symbol + ") ";
		            document.getElementById("pctChg").innerHTML = J.data.stock.pctChg < 0.00 ? "<font color=red>" + "(" +J.data.stock.pctChg + "%)" + "</font>" 
		            		: "<font color=green>" + "(+" + J.data.stock.pctChg + "%)" + "</font>";   
		            		
		          	document.getElementById("profileIndustry").innerHTML = J.data.company.sector + ": " + J.data.company.industry;		
							           
		            //Table
		            document.getElementById("price").innerHTML =J.data.stock.price;	
		            document.getElementById("change").innerHTML =J.data.stock.change;
		            document.getElementById("dayLow").innerHTML =J.data.stock.dayLow;
		            document.getElementById("dayHigh").innerHTML =J.data.stock.dayHigh;
		            document.getElementById("ask").innerHTML =J.data.stock.ask;
		            document.getElementById("bid").innerHTML =J.data.stock.bid;
		            document.getElementById("avgVolume").innerHTML =J.data.stock.avgVolume;
		            document.getElementById("volume").innerHTML =J.data.stock.volume ;
		            document.getElementById("chgFromYearLowPct").innerHTML =J.data.stock.chgFromYearLowPct + "%";
		            document.getElementById("chgFromYearHighPct").innerHTML =J.data.stock.chgFromYearHighPct+ "%";
		            document.getElementById("yieldPct").innerHTML =J.data.stock.yieldPct + "%";
		            document.getElementById("peg").innerHTML =J.data.stock.peg;		  
		            
		            //Vars
		            $scope.currentVolumePct = (J.data.stock.volume/J.data.stock.avgVolume)*100.00;
			    	$scope.currentDivYield = J.data.stock.yieldPct;
			    	$scope.currentChangePct = J.data.stock.pctChg;
			    	$scope.currentPeg = J.data.stock.peg;
			    	$scope.currentPrice = J.data.stock.price;
			    	$scope.currentTarget = J.data.stock.yearTarget;
			    	$scope.$apply();
		            if(!($scope.oldSym === J.data.stock.symbolS)){	
		            	if($scope.stockFromIndustry == false)
		           	 	{
		            		document.getElementById("indChgPct").innerHTML = "-%";        		
		    	            document.getElementById("indVolumePct").innerHTML = "-%";
		               		document.getElementById("indYield").innerHTML = "-%";
		              		document.getElementById("indPeg").innerHTML = "-%";
		              		document.getElementById("targetChange").innerHTML = "-%";	
		              		$scope.gaugeValue = 0;
			            	$scope.industryCount = "loading..."
			            	$scope.companies = "";
			            	$scope.isIndustryLoaded = false;
			            	
			            	$scope.$apply();
		           	 	}
		           	 	refreshChart(sym, $scope.graphOption);
		           	 	
		           	 	if($scope.stockFromIndustry)
		           	 	{
		           			refreshIndustryStatsOnly();
		           			$scope.stockFromIndustry = false;
		           	 	}
		           	 	else
		           	 	{
		           	 		refreshIndustry(sym);
		           	 	}
		           	 	var i;
		           		$scope.isFavorite = false;
		           	 	for (i = 0; i < $scope.favorites.length; i++) {	           	 		
		           	    	if($scope.favorites[i].symbol === sym){
		           	    		console.log('isFavorite');
		           	    		$scope.isFavorite = true;
		           	    		break;
		           	    	}
		           		}
		            }
		            $scope.oldSym = J.data.stock.symbol;
		       
		            
        		}
            });	 
        }
        function refreshStockHeader(sym)
        {
        	
        	var urls = '/StockWebApp/StockServlet?symbol=' + angular.uppercase(sym);
        	$scope.search=angular.uppercase($scope.search);
            $http.get(urls).success(function(data){
            	if(data != "")
        		{
	            	var J =  data;		            	
		            //Headings	            
		            document.getElementById("companyName").innerHTML = J.data.stock.name;
		            document.getElementById("symbol").innerHTML = " (" + J.data.stock.symbol + ") ";
		            document.getElementById("pctChg").innerHTML = J.data.stock.pctChg < 0.00 ? "<font color=red>" + "(" +J.data.stock.pctChg + "%)" + "</font>" 
		            		: "<font color=green>" + "(+" + J.data.stock.pctChg + "%)" + "</font>";   
		            //Table
		            document.getElementById("price").innerHTML =J.data.stock.price;	
		            document.getElementById("change").innerHTML =J.data.stock.change;
		            document.getElementById("dayLow").innerHTML =J.data.stock.dayLow;
		            document.getElementById("dayHigh").innerHTML =J.data.stock.dayHigh;
		            document.getElementById("ask").innerHTML =J.data.stock.ask;
		            document.getElementById("bid").innerHTML =J.data.stock.bid;
		            document.getElementById("chgFromYearLowPct").innerHTML =J.data.stock.chgFromYearLowPct + "%";
		            document.getElementById("chgFromYearHighPct").innerHTML =J.data.stock.chgFromYearHighPct+ "%";
		            document.getElementById("yieldPct").innerHTML =J.data.stock.yieldPct + "%";
		            //document.getElementById("eps").innerHTML =J.data.stock.eps;
		            document.getElementById("peg").innerHTML =J.data.stock.peg;
		            
		 
		            $scope.$apply();
        		}
            });	 
        }
        
        function refreshFavorites(){        	
        	var urls = '/StockWebApp/FavoritesRetrieverServlet?username=' + $scope.user;

        	$http.get(urls).success(function(data){        		
        		$scope.favorites = data.favorites;
        		$scope.favoritesData = data;
        		console.log('favs: ' + $scope.favorites);
        		$scope.isFavoritesLoaded = true;
        		$scope.isFavorite = false;
           	 	for (i = 0; i < $scope.favorites.length; i++) {
           	 		console.log('fav: ' + $scope.favorites[i].symbol);
           	    	if($scope.favorites[i].symbol === angular.uppercase($scope.currentSymbol)){
           	    		console.log('isFavorite');
           	    		$scope.isFavorite = true;
           	    		break;
           	    	}
           		}
        	});      	
        }
        $scope.addToFavorites = function() {
        	var urls = '/StockWebApp/AddToFavoritesServlet?username=' + $scope.user + '&symbol=' + angular.uppercase($scope.currentSymbol);
        	$http.get(urls).success(function(data){
        		$scope.isFavorite = true;
        		refreshFavorites();
        		$scope.$apply();	
        	});   

        }
        $scope.removeFromFavorites = function() {
        	var urls = '/StockWebApp/RemoveFromFavoritesServlet?username=' + $scope.user + '&symbol=' + angular.uppercase($scope.currentSymbol);
        	 $http.get(urls).success(function(data){
        		 $scope.isFavorite = false;    
        		 refreshFavorites();
        		 $scope.$apply();
        	 });  
        }
        
        $scope.updateSymbol = function (sym, isFromIndustry) {
        	$scope.stockFromIndustry = isFromIndustry;
        	$scope.search = sym;     
        	
        	 $scope.$apply();
			console.log("SYM in update: " + sym);
      	}
        
        
        $scope.set_color = function (number) {
        	  if (number < 0) {
        	    return { color: "red" }
        	  }
        	  else if(number > 0)
       		  {        		  
        		  return { color: "green" }
        		  
       		  }
        	  else{
        		  return { color: "lightGrey" }
        	  }
        		
        	}
        
        
        //setInterval(function(){ refreshStockHeader($scope.search); }, 3000);
      }]);       
 </script>     

      
      

    
  </head>

  <body ng-controller="StockCtrl">
  
  <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand heading" href="main.html" >Quotr</a>
        </div>
        <div id="navbar" class="" >
        <div class="navbar-right">
          <form class="navbar-form" ng-show="!(isLoggedIn)" action="LoginServlet" method="post">
            <div class="form-group" >
              <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
             <div class="form-group" style="padding-bottom: 4px;">
            <button type="submit" class="btn btn-warning">Sign in</button>
            <div class="create-account inline-nav">                                                                                                       
            or <a href="CreateProfile.html">create account</a>
            </div>
            </div>
          </form>
          <form class="navbar-form" ng-show="(isLoggedIn)">
           	<div class="create-account inline-nav" style="margin-right:20px;">Hello {{user}}!</div>
            <div class="create-account inline-nav">
						<a href="LogoutServlet">Logout</a>
            </div>
          </form>
         </div>
        </div><!--/.navbar-collapse -->
 


</nav>
	<div class="sub-heading">
		<div class="sub-heading-title">
			Stock Analysis
		</div>
	</div>
   <div class="container">
	<div class="row searchRow">
		<div class="col-md-12 searchRow">
		<form ng-submit="updateSymbol(searchBox, false);">
		<div class="ui-widget" style="margin-top: 5px;">      
		<input  id="automplete-2" class="form-control" style="margin: auto; width: 60%; border-color: #aaaaaa;" ng-model="searchBox" placeholder="Search Symbol or Company..."  type="text"/>
		</div>
		<br><br>
		</form>
		</div>
	</div> 
	<div class="row">
	<div class="col-xl-12">
	    <h2 id="companyName"></h2>
	    <h2 id="symbol"></h2>
	    <h2 id="pctChg"></h2> 
	    <span ng-show="!(isFavorite) && isLoggedIn"><a ng-click="addToFavorites();" href="#"><img class="favoriteIcon" src="img/GreyStar.png" alt="Not Favorited" height="23" width="23"></a></span>
	    <span ng-show="isFavorite && isLoggedIn"><a ng-click="removeFromFavorites();" href="#"><img class="favoriteIcon" src="img/GoldStar.png" alt="Favorited" height="23" width="23" ></a></span>
    </div>
    <div class="col-xl-12">
	    <h4><font id="profileIndustry" color=grey></font></h4>
    </div>
    <div class="row" >
    <div class="col-md-8" style="height: 340px;">
    <div id="graphDiff" class="left">
</div>
    <div class="right btn-group" style="z-index:1">
  <button type="button" ng-click="graphOption = 1" class="btn graph-btn blackButton">1m</button>
  <button type="button" ng-click="graphOption = 2" class="btn graph-btn">6m</button>
  <button type="button" ng-click="graphOption = 3" class="btn graph-btn">1y</button>
  <button type="button" ng-click="graphOption = 4" class="btn graph-btn">5y</button>
</div>
    <canvas id="myChart" width=778px height="310" style="position:absolute; left:10px; top:20px;  z-index:0" ></canvas>
    </div>
    <br>
     <div class="col-lg-4 stockTable">  
     <h4 class = "stockTable">Today</h4>
     </div>

	    <div class="col-lg-2 stockTable">    
		    <table class=" table stockTable"   >
		    
		    <tbody>
		      <tr>
		        <td><font color=grey>Price</font></td>
		        <td id="price"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Day low</font></td>
		        <td id="dayLow"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Ask</font></td>
		        <td id="ask"></td>
		      </tr>
		    </tbody>
		  </table>
	  	</div>
	  	 <div class="col-lg-2  stockTable">    
		    <table class=" table stockTable">
		    
		    <tbody>
		      <tr>
		        <td><font color=grey>Change</font></td>
		        <td id="change"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Day high</font></td>
		        <td id="dayHigh"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Bid</font></td>
		        <td id="bid"></td>
		      </tr>
		    </tbody>
		  </table>
	  	</div>
	  	<div class="col-lg-4 stockTable">  
	  	<br>
     </div>
	  	<div class="col-lg-4 stockTable">  
     <h4 class = "stockTable">Stats</h4>
     </div>
	  	<div class="col-lg-2 stockTable">    
		    <table class=" table stockTable"   >
		    
		    <tbody>
		      <tr>
		        <td><font color=grey>Volume</font></td>
		        <td id="volume"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>% yr low</font></td>
		        <td id ="chgFromYearLowPct"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Dividend Yield</font></td>
		        <td id="yieldPct"></td>		        
		      </tr>
		    </tbody>
		  </table>
	  	</div>
	  	 <div class="col-lg-2  stockTable">    
		    <table class=" table stockTable">
		    
		    <tbody>
		      <tr>
		        <td><font color=grey>Avg Volume</font></td>
		        <td id="avgVolume"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>% yr high</font></td>
		        <td id="chgFromYearHighPct"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>PEG</font></td>
		        <td id="peg"></td>
		      </tr>
		    </tbody>
		  </table>
	  	</div>
   </div>
   <div class='row inline'>
   <div class='col-md-8 darkWellBoot inline'>
   		<div class="well-group darkWellBoot inline">
	   		<div class="well darkWell inline">
	   		<h3 id="indChgPct" class="outlineText">-%</h3>
	   		Change Percent vs Industry Average
	   		</div>
	   		<div class="well darkWell inline">
	   		<h3 id="indVolumePct" class="outlineText">-%</h3>
	   		Stock Activity vs Industry Average
	   		</div>
	   		<div class="well darkWell inline">
	   		<h3 id="indPeg" class="outlineText">-%</h3>
	   		PEG vs Industry Average
	   		</div>
	   		<div class="well darkWell inline">
	   		<h3 id="targetChange" class="outlineText">-%</h3>
	   		One Year Target Percent Change
	   		</div>
	   		<div class="well darkWell inline">
	   		<h3 id="indYield" class="outlineText">-%</h3>
	   		Dividend Yield vs Industry Average
	   		</div>
	   		<div class="well darkWell inline">
	   		<h3 class="consensus">Potential</h3>
	   		<canvas class="gauge" gaugejs options="gaugeOptions" value="gaugeValue" max-value="maxValue" min-value="5" animation-time="animationTime"></canvas>
			<p class="inline sell">Sell&ensp;&ensp;&ensp;&ensp;Buy</p>
	   		</div>
   		</div>
   </div>
   
   <div class='col-md-4'>
   <form  action="FavAnalysis.html">
	 <input ng-disabled="!(isLoggedIn)" type="submit" class="btn btn-warning" style="width: 100%; margin-top: 100px; " value="Favorites Analysis">
   </form>
   </div>
   </div>
   <div class='row'>
   <div class='col-md-8'>
   		<table class="table table-striped noBottom industryTableTop"  >
	   	<thead bgcolor="lightGrey">
	      <tr >
	        <th class="industryHeader unselectable" width=68% ng-click="sortField = 'name'; reverse = !reverse ">Companies In Industry<span class="badge smallBadge">{{industryCount}}</span></th>
	        <th class="industryHeader unselectable" width=15%  ng-click="sortField = 'price'; reverse = !reverse">Price</th>
	        <th class="industryHeader unselectable" width=15%  ng-click="sortField = 'changePct'; reverse = !reverse">Change</th>
	      </tr>
	      </thead>
	    </table>
	   <div class='scrollable noTop'>
	   <table ng-show="isIndustryLoaded" class="table table-striped noTop ">
	      <tbody>
	      <tr class="industryRow" ng-repeat="company in companies | orderBy:sortField:reverse"">
	        <td  width=68%><a ng-href='#' ng-click="updateSymbol(company.symbol, true);">{{company.name}} ({{company.symbol}})</a></td>
	        <td width=15%>{{company.price.toFixed(2)}}    </td>
	        <td width=13% ng-style="set_color(company.changePct)">{{company.changePct < 0 ? company.changePct.toFixed(2) : "+" + company.changePct.toFixed(2) }}%</td>
	      </tr>
	      </tbody>
	    </table>
	    <img class="center" ng-show="!(isIndustryLoaded)" src="img/loading.gif"  height="270" width="360">
	   </div>
   </div>
   <div class='col-md-4'>
	  <table class="table table-striped noBottom industryTableTop"  >
	  <thead bgcolor="lightGrey">
	   <tr >
	     <th class="industryHeader unselectable" width=54% ng-click="favSortField = 'name'; favReverse = !favReverse "><img src="img/GoldStar.png" class="favoriteIcon" alt="Favorite" height="15" width="15" ng-show=”true”>&ensp;Favorites<span class="badge smallBadge">{{favoriteCount}}</span></th>
	     <th class="industryHeader unselectable" width=16%  ng-click="favSortField = 'price'; favReverse = !favReverse">Price</th>
	    <th class="industryHeader unselectable" width=21%  ng-click="favSortField = 'changePct'; favReverse = !favReverse">Change</th>
	   </tr>
	   </thead>
	 </table>
	<div class='scrollable noTop'>
	<table ng-show="isLoggedIn" class="table table-striped noTop ">
	   <tbody>
	   <tr class="industryRow" ng-repeat="favorite in favorites| orderBy:favSortField:favReverse"">
	     <td  width=68%><a ng-href='#' ng-click="updateSymbol(favorite.symbol, false);">{{favorite.name}}<br>({{favorite.symbol}})</a></td>
	     <td width=17%>{{favorite.price.toFixed(2)}}    </td>
	     <td width=17% ng-style="set_color(favorite.changePct)">{{favorite.changePct.toFixed < 0 ? favorite.changePct.toFixed(2) : "+" + favorite.changePct.toFixed(2) }}%</td>
	   </tr>
	   </tbody>
	 </table>
	 <p ng-show="!(isLoggedIn)" class="center" style="text-align: center;" >You are not logged in</p>
   </div>
   </div>
   </div>

    <br>
    <br>
  </div>  
</div>
  </body>
   <footer class="foot">
  <p>Created By: Luke Schmader</p>
  <p>Email: <a href="mailto:lukeschmader@gmail.com">lukeschmader@gmail.com</a>.</p>
</footer> 
</html>