<!DOCTYPE html>
<html ng-app="stockApp" >
  <head>
    <meta charset="utf-8">
    <title>Stock App</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link href="css/myCss.css" rel="stylesheet">
	<script src="js/Chart.js"></script>
    <script>    
    
    var $jq = jQuery.noConflict();
    var nameApp = angular.module('stockApp', []);
      nameApp.controller('StockCtrl', function ($scope, $http){	
    	  $scope.search="GOOGL";
    	  $scope.currentProfile="";
    	  $scope.lineChart = null;
    	  $scope.oldSym = null;
    	  $scope.stockFromIndustry = false;
    	  $scope.graphPct = 100;
    	  $scope.graphOption = 1;
    	  $scope.currentVolumePct = 0;
    	  $scope.currentDivYield = 0;
    	  $scope.currentChangePct = 0;
    	  $scope.currentPeg = 0;
    	  $scope.industryStats = null;
    	  $scope.sortField = 'name';
    	  
        $scope.$watch('search', function(newValue, oldValue){
        	if(newValue != "")
        	{   	     
        		refreshStock(newValue);     
        		$scope.$apply();       		
        	} 
        	
          });  
        
        $scope.$watch('graphOption', function(newValue, oldValue){
        	if(newValue != "")
        	{   	     
        		
        		 $jq("button").click(function(){
        		  	    $jq("button").removeClass('blackButton')
        		  	        $jq(this).addClass('blackButton');
        		  	});
        		var canvas = document.getElementById("myChart");
	        	var ctx = document.getElementById("myChart").getContext("2d");	        	
	        	ctx.clearRect(0, 0, canvas.width, canvas.height);
	        	refreshChart($scope.oldSym, newValue);
        		$scope.$apply();
        		
        		
        		
        	}
        });
        function refreshIndustry(sym)
        {
        	var urls = '/StockWebApp/IndustryServlet?symbol=' + angular.uppercase(sym);
        	$http.get(urls).success(function(data){
        		
        		$scope.industryStats = {
        				"indavgChangePct":Number(data.stats.avgChangePct),
        		 		"indVolumePct":((data.stats.avgVolume/data.stats.avgAvgVolume)*100.00),
        		 		"indavgYieldPct":Number(data.stats.avgYieldPct),
        		 		"indPeg":Number(data.stats.avgPeg)     				 
        		 };
        		$scope.$apply();
        		console.log($scope.industryStats);
        		var indChangepct = $scope.currentChangePct - data.stats.avgChangePct;
        		var indVolpct = $scope.currentVolumePct - (data.stats.avgVolume/data.stats.avgAvgVolume)*100.00;
        		var indYieldPct =$scope.currentDivYield - data.stats.avgYieldPct;
        		var indPeg =  $scope.currentPeg - data.stats.avgPeg;
        		
        		document.getElementById("indChgPct").innerHTML = indChangepct.toPrecision(2) < 0.00 ? "<font color=red>" + indChangepct.toPrecision(2) + "%" + "</font>" 
	            		: "<font color=green>" + "+" + indChangepct.toPrecision(2) + "%" + "</font>";        		
	            document.getElementById("indVolumePct").innerHTML = indVolpct.toPrecision(4) < 0.00 ? "<font color=red>" + indVolpct.toPrecision(4) + "%" + "</font>" 
	    	            		: "<font color=green>" + "+" + indVolpct.toPrecision(4) + "%" + "</font>";
           		document.getElementById("indYield").innerHTML = indYieldPct.toPrecision(2) < 0.00 ? "<font color=red>" + indYieldPct.toPrecision(2) + "%" + "</font>" 
   	            		: "<font color=green>" + "+" + indYieldPct.toPrecision(2) + "%" + "</font>";
          		document.getElementById("indPeg").innerHTML = indPeg.toPrecision(2) > 0.00 ? "<font color=red>" +"+"+  indPeg.toPrecision(2) + "</font>" 
  	            		: "<font color=green>"  + indPeg.toPrecision(2) + "</font>";
        		$scope.companies = data.companies;
        		$scope.industryCount = data.stats.industryCount;
        	});
        	
        }
        function refreshIndustryStatsOnly()
        {
        	var indChangepct = $scope.currentChangePct - $scope.industryStats.indavgChangePct;
    		var indVolpct = $scope.currentVolumePct - $scope.industryStats.indVolumePct;
    		var indYieldPct =$scope.currentDivYield - $scope.industryStats.indavgYieldPct;
    		var indPeg =  $scope.currentPeg - $scope.industryStats.indPeg;
        	
        	document.getElementById("indChgPct").innerHTML = indChangepct.toPrecision(2) < 0.00 ? "<font color=red>" + indChangepct.toPrecision(2) + "%" + "</font>" 
            		: "<font color=green>" + "+" + indChangepct.toPrecision(2) + "%" + "</font>";        		
            document.getElementById("indVolumePct").innerHTML = indVolpct.toPrecision(4) < 0.00 ? "<font color=red>" + indVolpct.toPrecision(4) + "%" + "</font>" 
    	            		: "<font color=green>" + "+" + indVolpct.toPrecision(4) + "%" + "</font>";
       		document.getElementById("indYield").innerHTML = indYieldPct.toPrecision(2) < 0.00 ? "<font color=red>" + indYieldPct.toPrecision(2) + "%" + "</font>" 
	            		: "<font color=green>" + "+" + indYieldPct.toPrecision(2) + "%" + "</font>";
      		document.getElementById("indPeg").innerHTML = indPeg.toPrecision(2) > 0.00 ? "<font color=red>" +"+"+  indPeg.toPrecision(2) + "</font>" 
	            		: "<font color=green>"  + indPeg.toPrecision(2) + "</font>";
        }
        function refreshChart(sym, option)
        {
        	
        	var urls = '/StockWebApp/GraphServlet?symbol=' + angular.uppercase(sym) + "&option=" + option;  	
        	$http.get(urls).success(function(data){
           	if(data != undefined)
       		{
           		
           		if($scope.lineChart != null)
      			{
           			$scope.lineChart.destroy();
           			$scope.lineChart.clear();
      				
      			}
           		
           		console.log("HERE");
           		var values = data.values;
           		var dates = data.dates;
           		//document.getElementById("interval").innerHTML = " (" + data.info.interval + ") ";
	            document.getElementById("graphDiff").innerHTML = data.info.diff < 0.00 ? data.info.interval + ": <font color=red>" + "" +data.info.diff + "%" + "</font>" 
	            		: data.info.interval + ": <font color=green>" + "+" + data.info.diff + "%" + "</font>";   
           		console.log(JSON.stringify(data));
	        	//console.log(values);
	        	
	        	        	
	        	var data = {
	        		    labels: dates,
	        		    datasets: [
	        		        {
	        		            
	        		            fillColor: "rgba(220,220,220,0.2)",
	        		            strokeColor: "#676767",
	        		            pointColor: "#676767",
	        		            pointStrokeColor: "#fff",
	        		            pointHighlightFill: "#fff",
	        		            pointHighlightStroke: "rgba(220,220,220,1)",
	        		            data: values
	        		        }
	        		    ]
	        		};
	        	var canvas = document.getElementById("myChart");
	        	var ctx = document.getElementById("myChart").getContext("2d");	        	
	        	ctx.clearRect(0, 0, canvas.width, canvas.height);	
	        	lineChart = new Chart(ctx).Line(data, {
	        	    bezierCurve: false,
	        	    pointDot : false,
	        	    animationEasing: "easeOutQuart",
	        	    pointHitDetectionRadius : -2,
	        	    showTooltips: false,
	        	    //responsive: true,
	        	    animation: false      	    
	        	
	        	});	
	        	
       		}
        	
        });
        }
        
        function refreshStock(sym)
        {
        	var urls = '/StockWebApp/StockServlet?symbol=' + angular.uppercase(sym);
        	$scope.search=angular.uppercase($scope.search);
            $http.get(urls).success(function(data){
            	if(data != "")
        		{
	            	var J =  data;	
	            	 
		            //Headings	            
		            document.getElementById("companyName").innerHTML = J.data.stock.name;
		            document.getElementById("symbol").innerHTML = " (" + J.data.stock.symbol + ") ";
		            document.getElementById("pctChg").innerHTML = J.data.stock.pctChg < 0.00 ? "<font color=red>" + "(" +J.data.stock.pctChg + "%)" + "</font>" 
		            		: "<font color=green>" + "(+" + J.data.stock.pctChg + "%)" + "</font>";   
		            		
		          	document.getElementById("profileIndustry").innerHTML = J.data.company.sector + ": " + J.data.company.industry;		
							           
		            //Table
		            document.getElementById("price").innerHTML =J.data.stock.price;	
		            document.getElementById("change").innerHTML =J.data.stock.change;
		            document.getElementById("dayLow").innerHTML =J.data.stock.dayLow;
		            document.getElementById("dayHigh").innerHTML =J.data.stock.dayHigh;
		            document.getElementById("ask").innerHTML =J.data.stock.ask;
		            document.getElementById("bid").innerHTML =J.data.stock.bid;
		            document.getElementById("avgVolume").innerHTML =J.data.stock.avgVolume;
		            document.getElementById("volume").innerHTML =J.data.stock.volume ;
		            document.getElementById("chgFromYearLowPct").innerHTML =J.data.stock.chgFromYearLowPct + "%";
		            document.getElementById("chgFromYearHighPct").innerHTML =J.data.stock.chgFromYearHighPct+ "%";
		            document.getElementById("yieldPct").innerHTML =J.data.stock.yieldPct + "%";
		            document.getElementById("peg").innerHTML =J.data.stock.peg;		  
		            
		            //Vars
		             $scope.currentVolumePct = (J.data.stock.volume/J.data.stock.avgVolume)*100.00;
			    	$scope.currentDivYield = J.data.stock.yieldPct;
			    	$scope.currentChangePct = J.data.stock.pctChg;
			    	$scope.currentPeg = J.data.stock.peg;
			    	
		            if(!($scope.oldSym === J.data.stock.symbolS)){	
		            	if($scope.stockFromIndustry == false)
		           	 	{
		            		document.getElementById("indChgPct").innerHTML = "-%";        		
		    	            document.getElementById("indVolumePct").innerHTML = "-%";
		               		document.getElementById("indYield").innerHTML = "-%";
		              		document.getElementById("indPeg").innerHTML = "-%";
			            	$scope.industryCount = "loading..."
			            	$scope.companies = "";
			            	$scope.$apply();
		           	 	}
		           	 	refreshChart(sym, $scope.graphOption);
		           	 	
		           	 	if($scope.stockFromIndustry)
		           	 	{
		           			refreshIndustryStatsOnly();
		           			$scope.stockFromIndustry = false;
		           	 	}
		           	 	else
		           	 	{
		           	 		refreshIndustry(sym);
		           	 	}
		            }
		            $scope.oldSym = J.data.stock.symbol;
		            
        		}
            });	 
        }
        function refreshStockHeader(sym)
        {
        	var urls = '/StockWebApp/StockServlet?symbol=' + angular.uppercase(sym);
        	$scope.search=angular.uppercase($scope.search);
            $http.get(urls).success(function(data){
            	if(data != "")
        		{
	            	var J =  data;		            	
		            //Headings	            
		            document.getElementById("companyName").innerHTML = J.data.stock.name;
		            document.getElementById("symbol").innerHTML = " (" + J.data.stock.symbol + ") ";
		            document.getElementById("pctChg").innerHTML = J.data.stock.pctChg < 0.00 ? "<font color=red>" + "(" +J.data.stock.pctChg + "%)" + "</font>" 
		            		: "<font color=green>" + "(+" + J.data.stock.pctChg + "%)" + "</font>";   
		            //Table
		            document.getElementById("price").innerHTML =J.data.stock.price;	
		            document.getElementById("change").innerHTML =J.data.stock.change;
		            document.getElementById("dayLow").innerHTML =J.data.stock.dayLow;
		            document.getElementById("dayHigh").innerHTML =J.data.stock.dayHigh;
		            document.getElementById("ask").innerHTML =J.data.stock.ask;
		            document.getElementById("bid").innerHTML =J.data.stock.bid;
		            document.getElementById("chgFromYearLowPct").innerHTML =J.data.stock.chgFromYearLowPct + "%";
		            document.getElementById("chgFromYearHighPct").innerHTML =J.data.stock.chgFromYearHighPct+ "%";
		            document.getElementById("yieldPct").innerHTML =J.data.stock.yieldPct + "%";
		            document.getElementById("eps").innerHTML =J.data.stock.eps;
		            document.getElementById("peg").innerHTML =J.data.stock.peg;
		            

		            $scope.$apply();
        		}
            });	 
        }
        
        
        $scope.updateSymbol = function (sym) {
        	$scope.stockFromIndustry = true;
        	$scope.search = sym;        	
        	 $scope.$apply();
      	}
        
        
        $scope.set_color = function (number) {
        	  if (number < 0) {
        	    return { color: "red" }
        	  }
        	  else
       		  {        		  
        		  return { color: "green" }
        		  
       		  }
        	}
        
        
        setInterval(function(){ refreshStockHeader($scope.oldSym); }, 3000);
      }); 
      

      
      
 </script>     
     
      
      

    
  </head>

  <body ng-controller="StockCtrl">
   <div class="container">
 	 <div class="row topRow">
		<div class="h3 darkBG col-md-12">Stock App</div>
	</div>
	<div class="row searchRow">
		<div class="col-md-9 searchRow">				
		</div>
		<div class="col-md-3 searchRow">
		Search:<input class="searchRow" ng-model="search" placeholder="Search symbol..."  maxlength="6" type="text"/><br><br>
		</div>
	</div> 
	<div class="row">
	<div class="col-xl-12">
	    <h2 id="companyName"></h2>
	    <h2 id="symbol"></h2>
	    <h2 id="pctChg"></h2>
    </div>
    <div class="col-xl-12">
	    <h4><font id="profileIndustry" color=lightGrey></font></h4>
    </div>
    <div class="row">
    <div class="col-md-8">
    <div id="graphDiff" class="left">
</div>
    <div class="right btn-group">
  <button type="button" ng-click="graphOption = 1" class="btn blackButton">1m</button>
  <button type="button" ng-click="graphOption = 2" class="btn">6m</button>
  <button type="button" ng-click="graphOption = 3" class="btn">1y</button>
  <button type="button" ng-click="graphOption = 4" class="btn">5y</button>
</div>
    <canvas id="myChart" width=778px height="310"></canvas>
    </div>
    <br>
     <div class="col-lg-4 stockTable">  
     <h4 class = "stockTable">Today</h4>
     </div>

	    <div class="col-lg-2 stockTable">    
		    <table class=" table stockTable"   >
		    
		    <tbody>
		      <tr>
		        <td><font color=grey>Price</font></td>
		        <td id="price"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Day low</font></td>
		        <td id="dayLow"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Ask</font></td>
		        <td id="ask"></td>
		      </tr>
		    </tbody>
		  </table>
	  	</div>
	  	 <div class="col-lg-2  stockTable">    
		    <table class=" table stockTable">
		    
		    <tbody>
		      <tr>
		        <td><font color=grey>Change</font></td>
		        <td id="change"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Day high</font></td>
		        <td id="dayHigh"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Bid</font></td>
		        <td id="bid"></td>
		      </tr>
		    </tbody>
		  </table>
	  	</div>
	  	<div class="col-lg-4 stockTable">  
	  	<br>
     </div>
	  	<div class="col-lg-4 stockTable">  
     <h4 class = "stockTable">Stats</h4>
     </div>
	  	<div class="col-lg-2 stockTable">    
		    <table class=" table stockTable"   >
		    
		    <tbody>
		      <tr>
		        <td><font color=grey>Volume</font></td>
		        <td id="volume"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>% yr low</font></td>
		        <td id ="chgFromYearLowPct"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>Dividend Yield</font></td>
		        <td id="yieldPct"></td>		        
		      </tr>
		    </tbody>
		  </table>
	  	</div>
	  	 <div class="col-lg-2  stockTable">    
		    <table class=" table stockTable">
		    
		    <tbody>
		      <tr>
		        <td><font color=grey>Avg Volume</font></td>
		        <td id="avgVolume"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>% yr high</font></td>
		        <td id="chgFromYearHighPct"></td>
		      </tr>
		      <tr>
		        <td><font color=grey>PEG</font></td>
		        <td id="peg"></td>
		      </tr>
		    </tbody>
		  </table>
	  	</div>
   </div>
   <div class='row darkWellRowBoot'>
   <div class='col-md-2 darkWellBoot'>
   		<div class="well darkWell">
   		<h3 id="indChgPct" class="outlineText">-%</h3>
   		Change Percent vs Industry Average
   		</div>
   </div>
    <div class='col-md-2 darkWellBoot'>
   		<div class="well darkWell">
   		<h3 id="indVolumePct" class="outlineText">-%</h3>
   		Stock Activity vs Industry Average
   		</div>
   </div>
    <div class='col-md-2 darkWellBoot'>
   		<div class="well darkWell">
   		<h3 id="indPeg" class="outlineText">-%</h3>
   		PEG vs Industry Average
   		</div>
   		
   </div>
    <div class='col-md-2 darkWellBoot'>
   		<div class="well darkWell">
   		<h3 id="indYield" class="outlineText">-%</h3>
   		Dividend Yield vs Industry Average
   		</div>
   </div>
   
   <div class='col-md-4'>
   </div>
   </div>
   <div class='row'>
   <div class='col-md-8'>
   		<table class="table table-striped noBottom industryTableTop"  >
	   	<thead bgcolor="lightGrey">
	      <tr >
	        <th class="industryHeader" width=68% ng-click="sortField = 'name'; reverse = !reverse ">Companies In Industry<span class="badge smallBadge">{{industryCount}}</span></th>
	        <th class="industryHeader" width=15%  ng-click="sortField = 'price'; reverse = !reverse">Price</th>
	        <th class="industryHeader" width=15%  ng-click="sortField = 'changePct'; reverse = !reverse">Change</th>
	      </tr>
	      </thead>
	    </table>
	   <div class='scrollable noTop'>
	   <table class="table table-striped noTop ">
	      <tbody>
	      <tr class="industryRow" ng-repeat="company in companies | orderBy:sortField:reverse"">
	        <td  width=68%><a ng-href='#' ng-click="updateSymbol(company.symbol);">{{company.name}} ({{company.symbol}})</a></td>
	        <td width=15%>{{company.price}}    </td>
	        <td width=13% ng-style="set_color(company.changePct)">{{company.changePct < 0 ? company.changePct : "+" + company.changePct }}%</td>
	      </tr>
	      </tbody>
	    </table>
	   </div>
   </div>
   <div class='col-md-4'>
   </div>
   </div>
    <br>
    <br>
  </div>  
</div>
  </body>
   <footer class="foot">
  <p>Created By: Luke Schmader</p>
  <p>Email: <a href="mailto:lukeschmader@gmail.com">lukeschmader@gmail.com</a>.</p>
</footer> 
</html>