<!DOCTYPE html>
<html ng-app="stockApp" manifest="manifest.appcache">
<head>
<meta charset="UTF-8">
<title>Quoter - Automation</title>
	<link rel="icon"  href="img/favicon.ico" />
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
 	<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="js/Chart.js"></script>
	<link href="css/myCss.css" rel="stylesheet">
	<script type="text/javascript" src="js/slick.min.js"></script>
<script>
	
	var $jq = jQuery.noConflict();
	var nameApp = angular.module('stockApp', ['ngCookies']);
	nameApp.controller('StockCtrl', ['$scope', '$http', '$timeout', '$cookies','$cookieStore', function($scope, $http, $timeout,$cookies,$cookieStore) {	
		$scope.isLoggedIn = false;
		$scope.stockData = null;
		$scope.stockTradeResults = null;
		$scope.currentIntArray = [];
		$scope.currentGroupArray = [];
		$scope.groups = [];
		$scope.prices = [];
		$scope.MA5amts = [];
		$scope.MA10amts = [];
		$scope.MA20amts = [];
		$scope.MA50amts = [];
		$scope.MA100amts = [];
		$scope.MA200amts = [];
		$scope.tradeResultPctSum = 0.00;
		$scope.dataLoaded = false;
		var init = function () { 
			for(var j = 0; j < 180; j++){
				
      				$scope.groups.push(j);
				
      		}
			  populateIndicatorTable();
	          $scope.$apply();	          
	      };
	      init();
	      function getTradeResults(){
	    	  var time = new Date().getTime();	
	    	  var urls = '/StockWebApp/TradeResultServlet' + "?t=" + time;
	          	$http.get(urls).success(function(data){        		
	          		$scope.stockTradeResults = data.Trades.reverse();
	          		$scope.tradeResultPctSum = data.Pct_Sum;
	          		$scope.$apply();
	          	}); 
	      }
	      function getCurrentDecisions(){
	    	  var time = new Date().getTime();	
	    	  var urls = '/StockWebApp/CurrentDecisionsServlet' + "?t=" + time;
	          	$http.get(urls).success(function(data){   
	          		for(var k = 0; k < data.Objects.length; k++) {
	          				$scope.currentGroupArray.push(data.Objects[k].Group);
	          				$scope.currentIntArray.push(data.Objects[k].Decision);
	          		}
	          		$scope.$apply();
		        	var datac = {
		        		    labels: $scope.groups,
		        		    datasets: [
		        		        {		        		            
		        		            fillColor: "rgba(220,220,220,0.2)",
		        		            strokeColor: "#676767",
		        		            pointColor: "#676767",
		        		            pointStrokeColor: "#fff",
		        		            pointHighlightFill: "#fff",
		        		            pointHighlightStroke: "rgba(220,220,220,1)",
		        		            data: $scope.currentIntArray
		        		        }
		        		    ]
		        		};
		        	var canvas = document.getElementById("decisionCanvas");
		        	fitToContainer(canvas);
		        	var ctx = document.getElementById("decisionCanvas").getContext("2d");	        	
		        	//ctx.clearRect(0, 0, canvas.width, canvas.height);	
		        	lineChart = new Chart(ctx).Line(datac, {
		        	    bezierCurve: false,
		        	    pointDot : false,
		        	    //animationEasing: "easeOutQuart",
		        	    pointHitDetectionRadius : 0,
		        	    showTooltips: true,
		        	    //responsive: true,
		        	    animation: false      	    
		        	
		        	});		          		
	          		
	          	}); 
	          	getTradeResults();
	      }
	      function fitToContainer(canvas){
	    	  canvas.style.width='100%';
	    	  canvas.width  = canvas.offsetWidth;
	    	}
          
          function populateIndicatorTable(){        	
        	  var time = new Date().getTime();	
          	var urls = '/StockWebApp/AnalysisServlet' + "?t=" + time;

          	$http.get(urls).success(function(data){        		
          		$scope.stockData = data.Analysis;
          		$scope.$apply();
          		
          		for(var i = 0; i < data.Analysis.length; i = i +4) {
          			if(data.Analysis[i].Interval !== null){
          				//$scope.groups.push(data.Analysis[i].Group);
          				$scope.prices.push(data.Analysis[i].Price);
          				$scope.MA5amts.push(data.Analysis[i].MA5amt);
          				$scope.MA10amts.push(data.Analysis[i].MA10amt);
          				$scope.MA20amts.push(data.Analysis[i].MA20amt);
          				$scope.MA50amts.push(data.Analysis[i].MA50amt);
          				$scope.MA100amts.push(data.Analysis[i].MA100amt);
          				$scope.MA200amts.push(data.Analysis[i].MA200amt);
          			}
          		}
          		
          		var datac = {
	        		    labels: $scope.groups,
	        		    datasets: [
							{		        		            
							    fillColor: "rgba(220,220,220,0.5)",
							    strokeColor: "#000000",
							    pointColor: "#000000",
							    pointStrokeColor: "#fff",
							    pointHighlightFill: "#fff",
							    pointHighlightStroke: "rgba(220,220,220,1)",
							    data: $scope.prices
							},
	        		        {		        		            
	        		            fillColor: "rgba(252, 171, 66,0.0)", 
	        		            strokeColor: "rgba(255, 0, 0, 0.3)", //red
	        		            pointColor: "rgb(255, 0, 0)",
	        		            pointStrokeColor: "#fff",
	        		            pointHighlightFill: "#fff",
	        		            pointHighlightStroke: "rgba(220,220,220,0)",
	        		            data: $scope.MA5amts
	        		        },
	        		        {		        		            
	        		            fillColor: "rgba(125, 125, 200)", //
	        		            strokeColor: "rgba(255, 168, 0, 0.3)", //orange
	        		            pointColor: "rgb(255, 168, 0)",
	        		            pointStrokeColor: "#fff",
	        		            pointHighlightFill: "#fff",
	        		            pointHighlightStroke: "rgba(220,220,220,0)",
	        		            data: $scope.MA10amts
	        		        },
	        		        {		        		            
	        		            fillColor: "rgba(51, 204, 51,0.0)", //
	        		            strokeColor: "rgba(204, 204, 0, 0.4)", //yellow
	        		            pointColor: "rgb(204, 204, 0)",
	        		            pointStrokeColor: "#fff",
	        		            pointHighlightFill: "#fff",
	        		            pointHighlightStroke: "rgba(220,220,220,0)",
	        		            data: $scope.MA20amts
	        		        },
	        		        {		        		            
	        		            fillColor: "rgba(255, 51, 0,0.0)", //
	        		            strokeColor: "rgba(42, 212, 0, 0.3)", //green
	        		            pointColor: "rgb(42, 212, 0)",
	        		            pointStrokeColor: "#fff",
	        		            pointHighlightFill: "#fff",
	        		            pointHighlightStroke: "rgba(220,220,220,0)",
	        		            data: $scope.MA50amts
	        		        },
	        		        {		        		            
	        		            fillColor: "rgba(172, 0, 230,0.0)", //
	        		            strokeColor: "rgba(0, 137, 242, 0.3)", //blue
	        		            pointColor: "rgb(0, 137, 242)",
	        		            pointStrokeColor: "#fff",
	        		            pointHighlightFill: "#fff",
	        		            pointHighlightStroke: "rgba(220,220,220,0)",
	        		            data: $scope.MA100amts
	        		        },
	        		        {		        		            
	        		            fillColor: "rgba(153, 102, 51,0.0)", //
	        		            strokeColor: "rgba(149, 0, 255, 0.3)", //purple
	        		            pointColor: "rgb(149, 0, 255)",
	        		            pointStrokeColor: "rgb(149, 0, 255)",
	        		            pointHighlightFill: "#rgb(149, 0, 255)",
	        		            pointHighlightStroke: "rgba(220,220,220,0)",
	        		            data: $scope.MA200amts
	        		        }
	        		    ]
	        		};
	        	var canvas = document.getElementById("priceCanvas");
	        	fitToContainer(canvas);
	        	var ctx = document.getElementById("priceCanvas").getContext("2d");	        	
	        	//ctx.clearRect(0, 0, canvas.width, canvas.height);	
	        	lineChart = new Chart(ctx).Line(datac, {
	        	    bezierCurve: false,
	        	    pointDot : false,
	        	   // animationEasing: "easeOutQuart",
	        	   pointHitDetectionRadius : 0,
	        	    showTooltips: true,
	        	    //responsive: true,
	        	    animation: false      	    
	        	
	        	});		          		
	        	$scope.dataLoaded = true;
          	}); 
          	getCurrentDecisions();
          }
          $scope.set_text_color = function (number) {
        	  if (number < 0) {
        	    return { color: "red" }
        	  }
        	  else if(number > 0)
       		  {        		  
        		  return { color: "green" }
        		  
       		  }
        	  else{
        		  return { color: "lightGrey" }
        	  }
        		
        	}
          $scope.set_color = function (number) {
        	  
        	  if (number < 0) {
        		  if(number < -3){
        			  return { background: "maroon" }
        		  }
        	    return { background: "pink" }
        	  }
        	  else if(number > 0)
       		  {        	
        		  if(number > 3){
        			  return { background: "darkGreen" }
        		  }
        		  return { background: "lightGreen" }
        		  
       		  }
        	  else{
        		  return { background: "lightGrey" }
        	  }
        	}
          
	
	}]);

</script>
<style>


</style>
</head>
<body ng-controller="StockCtrl">
	<nav class="navbar navbar-inverse navbar-fixed-top" >	
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand heading" href="main.html" >Quotr</a>
	        </div>
	        <div id="navbar" class="" >
	        <div class="navbar-right">
	          <form class="navbar-form" ng-show="(isLoggedIn)">
	            <div class="create-account inline-nav" style="margin-right:20px;">Hello {{user}}!</div>
	            <div class="create-account inline-nav">
				<a href="LogoutServlet">Logout</a>
	            </div>
	          </form>
	         </div>
	        </div><!--/.navbar-collapse -->
	</nav>
	<div class="sub-heading">
		<div class="sub-heading-title">
			Technical Analysis For Algorithm
		</div>
	</div>
	<div style="text-align: center; padding-left:20px; padding-right:20px;">
		<h3>Microsoft (MSFT)</h3>
		<p>Two Minute Price Change -
			<span style="border-style:solid; border-width: 1px; background:rgba(255, 0, 0, 0.3); margin-right:2px;"> &ensp;</span>MA5
			<span style="border-style:solid; border-width: 1px; background:rgba(255, 168, 0, 0.3); margin-right:2px;"> &ensp;</span>MA10
			<span style="border-style:solid; border-width: 1px; background:rgba(204, 204, 0, 0.4); margin-right:2px;"> &ensp;</span>MA20
			<span style="border-style:solid; border-width: 1px; background:rgba(42, 212, 0, 0.3); margin-right:2px;"> &ensp;</span>MA50
			<span style="border-style:solid; border-width: 1px; background:rgba(0, 137, 242, 0.3); margin-right:2px;"> &ensp;</span>MA100
			<span style="border-style:solid; border-width: 1px; background:rgba(149, 0, 255, 0.3); margin-right:2px;"> &ensp;</span>MA200
		</p>
		 	<canvas id="priceCanvas" class="favCanv"  height="500" width="1200"></canvas>
		 <div>
			<h3 style="display:inline;">Algorithm</h3><span >&ensp;v1.2.0</span>
		</div>
			<canvas id="decisionCanvas" class="favCanv"  height="125" width="1200"></canvas>
		<p>Note: Algorithm Buys at 1 and sells at -1. It trades all available funds each buy/sell.</p>
								  
	</div>
	<div style="padding-top:10px; padding-bottom:10px; background:#eeeeee;">
				<div style="text-align: center;">
				<h3>Trade History</h3>
				<p>Algorithm buys at ask price and sells at bid price</p>
				</div>
				<div style="margin-top:10px;margin-bottom:0px;width:900px; " height="200" class="favCanv"> 
				<div style="padding-right:15px; margin-bottom:0px;">
					<table class="table  noTop " style="margin-bottom:0px;">
				   	<thead style="margin-bottom:0px;margin-left:15px; margin-bottom:0px;" bgcolor="lightGrey">
					      <tr style="margin-left:15px; margin-bottom:0px;">
					      	<th class="industryHeader unselectable" width=12.5%  >Group</th>
					        <th class="industryHeader unselectable" width=12.5%  >Symbol</th>
					        <th class="industryHeader unselectable" width=12.5%  >Buying Price</th>
					        <th class="industryHeader unselectable" width=12.5%  >Buying Time</th>
					        <th class="industryHeader unselectable" width=12.5%  >Flag Sold</th>
					        <th class="industryHeader unselectable" width=12.5%  >Selling Price</th>
					        <th class="industryHeader unselectable" width=12.5%  >Selling Time</th>
					        <th class="industryHeader unselectable" width=12.5%  >Difference</th>
					
					      </tr>
					      </thead>
				    </table>
				    </div>
					   <div class='scrollable noTop' style="height: 200px;">
				   	<table class="table  noTop " >
					      <tbody>
					      <tr class="" ng-repeat="row in stockTradeResults ">
					        <td  width=12.5% >{{row.Group}}</td>
					        <td width=12.5% >{{row.Symbol}}</td>
					        <td width=12.5% >{{row.Price_Bought.toFixed(2)}}</td>
					        <td width=12.5% >{{row.Dt_Bought}}</td>		
					        <td width=12.5% >{{row.Flag_Sold}}</td>			        
					        <td width=12.5% >{{row.Price_Sold.toFixed(2)}}</td>
					        <td width=12.5% >{{row.Dt_Sold}}</td>
					        <td width=12.5%  ng-style="set_color(((row.DiffPct)))">{{row.DiffPct.toFixed(2) < 0.0 ? row.DiffPct.toFixed(2) +"%" : "+" + row.DiffPct.toFixed(2) + "%"}}</td>
					      </tr>
					      </tbody>
				    </table>	
					
				</div>
		</div>
			<div style="text-align: center;">
				<h3>Sum of Differences:&ensp;<span ng-style="set_text_color(((tradeResultPctSum.toFixed(2))))">{{tradeResultPctSum.toFixed(2) < 0.0 ? tradeResultPctSum.toFixed(2) +"%" : "+" + tradeResultPctSum.toFixed(2) + "%"}}</span></h3>
			</div>
		</div>
		<div style="text-align: center;" >
				<h3>Moving Averages and Technical Indicators</h3>
				</div>
				<div class="favCanv" style="margin-top:10px;margin-bottom:50px; width:100%;" >
				<div style="margin-right:15px;">
					<table class="table  noTop " style="margin-bottom:0px;">
				   	<thead style="margin-bottom:0px;" bgcolor="lightGrey" >
					      <tr style="margin-bottom:0px;">
					      	<th class="industryHeader unselectable" width=10% >Group</th>
					      	<th class="industryHeader unselectable" width=10% >Interval</th>
					        <th class="industryHeader unselectable" width=10% >Time</th>
					         <th class="industryHeader unselectable" width=10% >Summary</th>
					        <th class="industryHeader unselectable" width=10%  >MA5</th>
					        <th class="industryHeader unselectable" width=10% >MA10</th>
					        <th class="industryHeader unselectable"  width=10% >MA20</th>
					        <th class="industryHeader unselectable" width=10%  >STOCH</th>
					        <th class="industryHeader unselectable"  width=10% >ATR</th>
					        <th class="industryHeader unselectable" width=10%  >WillR</th>

					      </tr>
					      </thead>
				    </table>
				    </div>
					   <div class='scrollable noTop' style="height: 500px;" width="1000px;">
				   	<table class="table  noTop ">
				   
					      <tbody>
					      <tr class="" ng-repeat="row in stockData ">
					        <td  width=10% >{{row.Group}}</td>
					        <td width=10% >{{row.Interval}}</td>
					        <td width=10% >{{row.Captured}}</td>
					        <td width=10%  ng-style="set_color(row.Sumry)">{{row.Sumry < 0 ? row.Sumry : "+" + row.Sumry }}</td>
					        <td width=10%  ng-style="set_color(row.MA5)">{{row.MA5 < 0 ? row.MA5 : "+" + row.MA5 }}</td>
					        <td width=10%  ng-style="set_color(row.MA10)">{{row.MA10 < 0 ? row.MA10 : "+" + row.MA10 }}</td>
					        <td width=10%  ng-style="set_color(row.MA20)">{{row.MA20 < 0 ? row.MA20 : "+" + row.MA20 }}</td>
					        <td width=10%  ng-style="set_color(row.STOCH)">{{row.STOCH < 0 ? row.STOCH : "+" + row.STOCH }}</td>
					        <td width=10%  ng-style="set_color(row.ATR)">{{row.ATR < 0 ? row.ATR : "+" + row.ATR }}</td>
					        <td width=10%  ng-style="set_color(row.WillR)">{{row.WillR < 0 ? row.WillR : "+" + row.WillR }}</td>
					      </tr>
					      </tbody>
				    </table>	
					
				</div>
		</div>
		
	</body>
	   <footer class="foot">
  <p>Created By: Luke Schmader</p>
  <p>Email: <a href="mailto:lukeschmader@gmail.com">lukeschmader@gmail.com</a>.</p>
</footer> 
</html>