@CHARSET "ISO-8859-1";


.scrollable
{
	overflow: auto;
	height: 280px;
}

.stockTableHeader
{
	font-size: 1px;;
}



.darkBG
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	background: #444444;
}



h1, h2, h4 {
    display: inline;
}

.resizedTextbox
{
	position: absolute;
    right: 0px;
    padding: 0px;
	width: 200px; height: 20px
}

.stockTable
{
    margin: 0px;
    padding: 1px;
}

.smallBadge
{
	font-size: 75%;
}
.noHeader { 
     border-top: none !important; 
 }
 
 .greyBG {
 	background-color:lightgrey;	
 	
 }
 
.button:active {
	color: white;
	background-color:black;	
}
.button:focus {
	color: white;
	background-color:black;	
}

 .blackButton
 {
 	color: white;
 	background-color:black;	
 }
 
 /*firefox background: -moz-linear-gradient(top, #bfbfbf, #a5a5a5);
 */
  .darkWell
 {
	 margin-bottom: 5px;
	 
 	padding-top:5px;
 	text-align: center;
 	color: black;
 	height: 130px;
 	border: 1px solid #606060;
 	background: #d1d1d1;
 	
 }
 
.outlineText
 {
 	color: white;
 	font-size: 150%;
 	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
 
   .darkWellBoot
 {
 
 	padding: 2px;
 	margin: 0px;
 }
    .darkWellRowBoot
 {
 
 	padding-left: 0px;
 	padding-right: 8px;
 	
 	
 	margin: 0px;
 }
  .blackButton:active
 {
 	color: white;
 	background-color:black;	
 }
   .blackButton:focus
 {
 	color: white;
 	background-color:black;	
 }


 .right
 {
 opacity: 0.4;
  position: absolute;
    right: 15px;
    top: 33px;
  }
  
   .left
 {
 font-weight: bold;
position: relative;
opacity: 0.4;
    left: 38px;
    top: 30px
    
  }
 
/*
thead { display:none; width:130%; }
tbody { display:block; overflow:auto; height:100px; width:130%;}
th {  }
td {width:100%;}
tr {width:100%; }
*/
.noTop
{
	padding-top:0px;
	margin-top:0px;
}
.noBottom
{
	padding-bottom:0px;
	margin-bottom:0px;
}


.industryTableTop {
    border-top: 1px solid #d3d3d3;
}
.industryTableBottom {
    border-bottom: 1px solid #d3d3d3;
}

.industryRow {
    border-left: 1px solid #d3d3d3;
}

.industryHeader {
	 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #cbcbcb, #b5b5b5);
    border: 1px solid #b7b7b7;
}

.industryHeader:active {
	 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #cbcbcb, #ebebeb);
    background-color: #f4f4f4;
} 
.searchBar
{
	margin-top: 5px;
	margin-bottom:30px;
	padding-bottom:30px;
	padding-top: 0px;
}


.foot
{
	margin-top: 100px;
	padding-top: 10px;
	padding-left: 100px;
	background: #b7b7b7;
	 /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #cbcbcb, #b5b5b5);
    border: 1px solid #b7b7b7;
}
 