@CHARSET "ISO-8859-1";

.darkBG
{
	color: #ffffff;
	background: #444444;
}

h1, h2 {
    display: inline;
}

.resizedTextbox
{
	position: absolute;
    right: 0px;
    padding: 0px;
	width: 200px; height: 20px
}

.noHeader { 
     border-top: none !important; 
 }
 
 .greyBG {
 	background-color:lightgrey;	
 	
 }
 

 
 .siteBackground
 {

background: -webkit-gradient(linear, left top, right top, from(#FDFDFD), color-stop(0, #FFFFFF), color-stop(0.5, #FDFDFD), color-stop(1.50, #FFFFFF), to(#FDFDFD)); 
/* Safari 5.1+, Chrome 10+ */ background: -webkit-linear-gradient(left, #FDFDFD, #FFFFFF 0%, #FDFDFD, #FFFFFF 100%, #FDFDFD); 
/* Firefox 3.6+ */ background: -moz-linear-gradient(left, #FDFDFD, #FFFFFF 0%, #FDFDFD, #FFFFFF 100%, #FDFDFD); 
/* IE 10 */ background: -ms-linear-gradient(left, #FDFDFD, #FFFFFF 0%, #FDFDFD, #FFFFFF 100%, #FDFDFD); 
/* Opera 11.10+ */ background: -o-linear-gradient(left, #FDFDFD, #FFFFFF 0%, #FDFDFD, #FFFFFF 100%, #FDFDFD); 
 }
 
 .right
 {
 opacity: 0.4;
  position: absolute;
    right: 3px;
    top: 33px;
  }
  
   .left
 {
 font-weight: bold;
position: relative;
opacity: 0.4;
    left: 38px;
    top: 30px
    
  }
 