@CHARSET "ISO-8859-1";


.scrollable
{
	overflow: auto;
	height: 300px;
}



.darkBG
{
	color: #ffffff;
	background: #444444;
}

h1, h2 {
    display: inline;
}

.resizedTextbox
{
	position: absolute;
    right: 0px;
    padding: 0px;
	width: 200px; height: 20px
}

.smallBadge
{
	font-size: 75%;
}
.noHeader { 
     border-top: none !important; 
 }
 
 .greyBG {
 	background-color:lightgrey;	
 	
 }
 
.button:active {
	color: white;
	background-color:black;	
}
.button:focus {
	color: white;
	background-color:black;	
}

 .blackButton
 {
 	color: white;
 	background-color:black;	
 }
  .blackButton:active
 {
 	color: white;
 	background-color:black;	
 }
   .blackButton:focus
 {
 	color: white;
 	background-color:black;	
 }

.stockInfoTable
{
	margin-left = 0px;
	padding-left = 0px;
	margin-right = 5px;
	padding-right = 0px;
}

 .right
 {
 opacity: 0.4;
  position: absolute;
    right: 15px;
    top: 33px;
  }
  
   .left
 {
 font-weight: bold;
position: relative;
opacity: 0.4;
    left: 38px;
    top: 30px
    
  }
 
/*
thead { display:none; width:130%; }
tbody { display:block; overflow:auto; height:100px; width:130%;}
th {  }
td {width:100%;}
tr {width:100%; }
*/
.noTop
{
	padding-top:0px;
	margin-top:0px;
}
.noBottom
{
	padding-bottom:0px;
	margin-bottom:0px;
}




 
 
 
 